*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family:Helvetica Neue,metric,sans-serif;
    text-rendering: optimizeLegibility;
}

.center{
    width: 500px;
    margin:auto
}

text{
    font-family: metric,sans-serif;
}

.ml {
    text-align: left
}

svg {
    overflow: hidden;
    margin: auto
}

.axis line, .axis path{
    stroke: #2E3532;
    stroke-width:1px;
}

.axisTitle, .axis text{
    fill: #2E3532;
    font-size:12px;
}

.background {
    fill: #FBFBFB;
    stroke: #2E3532;
}

.axisTitle, .chartTitle{
    text-anchor: middle
}


.ytitle {
    text-anchor: middle;
    transform: rotate(90deg)
}

.warningtext{
    text-anchor: center;
    fill: #F06449;
}

.regLine {
    stroke: #F06449;
    stroke-width:2px;
    opacity:0.7
}

.circle {
    fill: #4ECDC4;
    stroke: #292f36;
    stroke-width:0.3px
}

table {
    margin:auto;
    text-align:left;
    border-spacing: 15px 5px;
    border: 1px solid #2E3532
}

th {
    text-align: center;
    color:#F06449
}


tr {
    fill: #2E3532;
    font-size:10px
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #F06449;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.bar {
    fill: #4ECDC4;
    stroke:#292f36;
}
.bar:hover {
    fill: #F06449;
    stroke:#292f36;
    stroke-width:1px;
}

.radio {
    margin: auto;
    width : 200px;
}

.wrapper {
    display: grid;
    margin: 50px 50px 50px 50px;
    gap: 10px 20px;
    grid-auto-rows: minmax(20px, auto);
    text-align: center;
    place-items: center;
}

.mainTitle, .summarizeTitle {
    height:30px;
    width: auto;
    border-radius: 2px;
    padding: 0 45px 0 45px;
    border-style: solid;
    border-width:1px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    color:  #2E3532;
    background: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.slidecontainer{
    width: 50%;
}
